@font-face {
	font-family: "Open Sans";
	src: url("./fonts/opensans-regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src: url("./fonts/opensans-bold.ttf");
	font-weight: 700;
}


.middle {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 1;
}

.rectangle-3 {
	height: 40px;
	border-radius: 2px;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 0.875em;
	color: #fff;
	background-color: #1b1b1b;
}


	.bg-video {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0,0,0,0.4);
		z-index: 1;
	}
		.bg-video video {
			min-width: 100%;
			min-height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}


		.content-base {
			width: 84.7%;
			top: 56px;
			z-index: 200;
		}

			.logo {
				width: 145px;
				height: 200px;
			}

			.main {
				margin-top: 56px;
			}

				h1 {
					font-size: 4em;
					margin-bottom: 25px;
				}

				form {
					margin-top: 30px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
					display: flex;
				}

					input, button {
						display: inline-block;
					}

					form input {
						width: 281px;
						text-align: left;
						padding-left: 16px;
						background-color: #f3f3f3;
						border: none;
						cursor: text;
					}

					form ::placeholder {
						color: #000;
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
						opacity: 0.5;
					}

					form button {
						width: 140px;
						height: 40px;
						text-align: center;
						border: none;
						background-color: #ff5151;
						color: #fff;
						font-size: inherit;
						font-family: inherit;
						font-weight: 700;
						margin-left: 16px;
					}

					form button:hover {
						background-color: #eb3d3d;
					}
	
				.store-icons {
					margin-top: 30px;
				}	
					
					.store-icons img {
						width: 100px;
						height: auto;
						margin-right: 10px;
					}
					
					.store-icons a:hover {
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
						opacity: 0.6;
					}
	
	footer {
		z-index: 200;
	}

		.social {
			position: absolute;
			top: 56px;
			right: 7.65%;
			left: initial;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			z-index: 200;
		}

			.social li {
				display: inline-block;
				margin-left: 10px;
			}

				.social li a {
					display: inline-block;
					width: 32px;
					height: 32px;
					background: url(../media/icons/icons@3x.png);
					background-size: 400% 100%;
				}
		
				.social li a:hover {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
					opacity: 0.6;
				}
		
				#twitter {
					background-position: 96px 0;
				}

				#instagram {
					background-position: 64px 0;
				}
	
				#linkedin {
					background-position: 32px 0;
				}
	
			.social a.rectangle-3 {
				display: none;
				width: 70px;
				text-align: center;
				font-weight: 700;
				color: #fff;
				text-decoration: none;
				margin-left: 40px;
				padding-top: 8px;
				padding-bottom: 8px;
				border: 1px solid #ff5151;
			}

			.social a.rectangle-3:hover {
				background-color: #ff5151;
			}
	
	

		.contact {
			width: 84.7%;
			bottom: 40px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			opacity: 0.5;
		}

		.contact li {
			display: inline-block;
		}
		
		.contact li:not(:last-child):after {	
			content: "•";
			padding: 0 10px;
		}

			.contact a {
				color: #fff;
				text-decoration: none;
			}
			
			.contact a:hover {
				text-decoration: underline;
			}
		
		.contact div:last-child {
			margin-left: 20px;
		}



@media screen and (max-width: 1800px) {
				h1 {
					font-size: 3em;
				}

			.logo {
				width: 109px;
				height: auto;
			}
}


@media screen and (max-width: 1281px) {
				h1 {
					font-size: 2.28em;
				}
				
				.logo {
					width: 80px;
				}
}

@media screen and (max-width: 600px) {
	.overlay, .bg-video video {
		display: none;
	}
	
	.bg-video {
		background-image: url("../media/video.png");
		background-size: cover;
		height: auto;
	}

		.content-base {
			text-align: center;
			position: initial;
			margin-top: 35px;
		}
			
			.logo {
				margin: auto;
			}
	
			form {
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				align-items: center;
			}

				form input {
					width: 280px;
					max-width: 100%;
				}

				form button {
					width: 280px;
					max-width: 100%;
					margin: 20px 0 0 0;
				}

				.store-icons {
					margin-bottom: 20px;
				}
	
	footer {
		background-color: #1b1b1b;
	}
	
		.social, .contact {
			position: initial;
		}

		.social {
			width: 84.7%;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
			padding-top: 24px;
		}

			.social ul {
				margin: 0px 0 32px 0;
			}

			.social a.rectangle-3 {
				margin: auto;
			}
	

		.contact {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
			padding: 24px 0 36px 0;
		}
	
			.contact li {
				display: block;
				padding-bottom: 11px;
			}
	
			.contact li:not(:last-child):after {
				content: "";
				padding: 0;
			}
		
		.contact div:last-child {
			padding-top: 7px;
		}	
}

@media screen and (max-width: 450px) {
				h1 {
					font-size: 1.5em;
				}
}

@media screen and (max-width: 320px) {
body {
	font-size: 0.8em;
}
		.content-base {
			top: 30px;
		}	

			.logo {
				width: 80px;
			}
					
			.main {
				margin-top: 30px;
			}
			
				form {
					margin-top: 20px;
				}
				
				form button {
					margin-top: 15px;
					}
					
				.store-icons {
					margin-top: 20px;
				}	
}