@font-face {
	font-family: "Open Sans";
	src: url("./fonts/opensans-regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src: url("./fonts/opensans-bold.ttf");
	font-weight: 700;
}

.top-content {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 1;
}

.rectangle-3 {
	height: 40px;
	border-radius: 2px;
	outline: none;
}


body {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 0.875em;
	color: #000;
}

	header {
		position: relative;
		height: 400px;
		background-image: url("../media/jobs-background.png");
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
	}

		.overlay {
			position: absolute;
			height: 500px;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(0,0,0,0.6);
			z-index: 1;
		}


			.logo {
				width: 84.72%;
				margin: auto;
				margin-top: 56px;
			}

			.title {
				width: 84.7%;
				margin: auto;
				text-align: center;
				color: #fff;
			}

				.headline {
					font-size: 4em;
					margin: 45px 0 16px 0;
				}


	.jobs, .team {
		border-bottom: 1px solid;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		padding-bottom: 64px;
	}

		.jobs-content {
			width: 84.72%;
			margin: auto;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}

			.jobs-content h1 {
				font-size: 2.29em;
				text-transform: uppercase;
				margin-top: 32px;
			}

			.jobs-content h2 {
				font-size: 1.72em;
				margin-bottom: 16px;
			}

			.social-job {
				margin-bottom: 45px;
			}

				.social-job-button {
					color: white;
					background-color: #ff5151;
					padding: 8px 15px;
					border-radius: 3px;
					text-decoration: none;
					font-weight: 700;
				}


			.job-items {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				display: flex;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				-ms-justify-content: space-between;
				-o-justify-content: space-between;
				justify-content: space-between;
				-webkit-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				-o-flex-wrap: wrap;
				flex-wrap: wrap;
			}

				.job {
					width: 49.18%;
					border: 1px solid;
					border-color: rgba(0, 0, 0, 0.2);
					padding: 0 42px 32px 42px;
					margin: auto;
				}

					.job h2 {
						font-size: 1.71em;
						margin: 26px 0 12px 0;
					}

						.job h2 a {
							color: #000;
							font-weight: 400;
						}

					.job p {
						margin-bottom: 23px;
					}

					.job a {
						color: #0e6ddc;
						text-decoration: none;
						font-weight: 700;
						margin: 27px 0 32px 0;
					}

					.job a:hover {
						color: #ff5151;
					}


		.team-content {
			width: 84.72%;
			margin: auto;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
			margin-bottom: 16px;
		}

			.team-header {
				width: 66.4%;
				margin: 40px auto 64px auto;
			}

				.team-header h3, .slide-pics h3 {
					font-size: 2.29em;
					text-transform: uppercase;
					margin-bottom: 38px;
				}


			.member-items {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: -o-flex;
				display: flex;
				-webkit-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				-o-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				-ms-justify-content: space-between;
				-o-justify-content: space-between;
				justify-content: space-between;
			}

				.member {
					width: 49.18%;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flexbox;
					display: -o-flex;
					display: flex;
					padding: 24px 0;
					margin-bottom: 48px;
					text-align: left;
					border: 1px solid;
					border-color: rgba(0, 0, 0, 0.2);
					overflow: hidden;
				}

					.member-pic {
						min-width: 96px;
						height: 96px;
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 50%;
						margin: 0 24px;
					}

					.member-info {
						padding-right: 34px;
					}

						.member-info h4 {
							font-size: 1.71em;
							margin-bottom: 4px;
						}

						.member-info span {
							display: block;
						}

						.position {
							margin-bottom: 4px;
						}

						.member-info a {
							color: #0e6ddc;
							text-decoration: none;
						}

						.member-info a:hover {
							color: #ff5151;
						}

						.member-description {
							margin-top: 9px;
						}

							.member-social ul {
								margin-top: 16px;
							}

								.member-social li {
									display: inline-block;
									width: 24px;
									height: 24px;
									margin-right: 8px;
								}

									.member-social li a {
										display: inline-block;
										width: 24px;
										height: 24px;
									}

									.member-social li a:hover {
										-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
										opacity: 0.8;
									}

									.member-facebook {
										background-image: url("../media/icons/facebook_black.png");
									}

									.member-linkedin {
										background-image: url("../media/icons/linkedin_black.png");
									}

						.advisor-description {
							margin-top: 9px;
							color: rgba(0, 0, 0, 0.5);
						}


	.slide-pics {
		width: 59.3%;
		margin: auto;
		text-align: center;
		margin-top: 40px;
	}

		.slide-pics-container {
			height: 480px;
			background-color: #000;
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			-o-align-items: center;
			align-items: center;
		}

			.slide-picture {
				width: 100%;
				margin: auto;
				max-height: 480px;
				height: auto;
				display: none;
				object-fit: contain;
			}

			.slide-button {
				width: 48px;
				height: 48px;
				position: absolute;
				background-color: #000;
				border: 0;
				border-radius: 50%;
			}

			button {
				outline: 0;
			}

			button:hover {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
				opacity: 0.9;
			}

			.slide-display-left {
				top: 50%;
				left: 32px;
				z-index: 200;
			}

			.slide-display-right {
				top: 50%;
				right: 32px;
				z-index: 200;
			}


	footer {
		width: 84.7%;
		margin: auto;
		margin-top: 80px;
	}

		.social {
			position: absolute;
			top: 56px;
			right: 7.65%;
			left: initial;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			-o-align-items: center;
			align-items: center;
			z-index: 200;
		}

				.social li {
					display: inline-block;
					margin-left: 10px;
				}

					.social li a {
						display: inline-block;
						width: 32px;
						height: 32px;
						background: url(../media/icons/icons@3x.png);
						background-size: 400% 100%;
					}

					.social li a:hover {
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
						opacity: 0.6;
					}

					#twitter {
						background-position: 96px 0;
					}

					#instagram {
						background-position: 64px 0;
					}

					#linkedin {
						background-position: 32px 0;
					}

					.social a.rectangle-3 {
						width: 80px;
						text-align: center;
						font-weight: 700;
						color: #fff;
						text-decoration: none;
						margin-left: 40px;
						padding-top: 8px;
						padding-bottom: 8px;
						border: 1px solid #ff5151;
					}

					.social a.rectangle-3:hover {
						background-color: #ff5151;
					}


		.contact {
			margin-bottom: 45px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: -o-flex;
			display: flex;
			-webkit-justify-content: space-between;
			-moz-justify-content: space-between;
			-ms-justify-content: space-between;
			-o-justify-content: space-between;
			justify-content: space-between;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			opacity: 0.5;
			color: #000;
		}

				.contact li {
					display: inline-block;
				}

				.contact li:not(:last-child):after {
					content: "•";
					padding: 0 10px;
				}

					.contact a {
						color: #000;
						text-decoration: none;
					}

					.contact a:hover {
						text-decoration: underline;
					}

			.contact div:last-child {
				margin-left: 20px;
			}



@media screen and (max-width: 900px) {
				.headline {
		 		   font-size: 3em;
			   }


			.job-items {
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
			}

				.job {
					width: 70%;
					margin: auto;
				}

				.job:not(:last-child) {
					margin-bottom: 48px;
				}


			.member-items {
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
			}

				.member {
					width: 70%;
					margin: auto;
				}

				.member:not(:last-child) {
					margin-bottom: 48px;
				}



	.slide-pics {
		width: 70%;
	}

		.slide-pics-container {
			height: 354px;
		}

			.slide-picture {
				max-height: 354px;
			}

			.slide-display-left {
				left: 24px;
			}

			.slide-display-right {
				right: 24px;
			}
}


@media screen and (max-width: 600px) {
	header {
		height: 300px;
	}

		.overlay {
			height: 400px;
		}

			.logo {
				text-align: center;
			}

				.headline {
					font-size: 2.28em;
				}



				.job, .member {
					width: 84.72%;
				}


	.slide-pics {
		width: 84.72%;
	}

		.slide-pics-container {
			height: 286px;
		}

			.slide-picture {
				max-height: 286px;
			}

			.slide-display-left {
				left: 20px;
			}

			.slide-display-right {
				right: 20px;
			}


		.social, .contact {
			position: initial;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}

			.social ul {
				margin-bottom: 32px;
			}

					.social a.rectangle-3 {
						color: #000;
						margin: auto;
						margin-bottom: 32px
					}


					.contact li {
						display: block;
						padding-bottom: 11px;
					}

					.contact li:not(:last-child):after {
						content: "";
						padding: 0;
					}


				.contact div:last-child {
					padding-top: 7px;
				}
}


@media screen and (max-width: 480px) {
body {
	font-size: 0.8em;
}


				.member {
					-webkit-flex-direction: column;
					-moz-flex-direction: column;
					-ms-flex-direction: column;
					-o-flex-direction: column;
					flex-direction: column;
					text-align: center;
				}

					.member-pic {
						width: 96px;
						margin: auto;
						margin-bottom: 28px;
					}

					.member-info {
						margin-left: 34px;
					}


			.slide-button {
				width: 40px;
				height: 40px;
			}

			.slide-display-left {
				left: 12px;
			}

			.slide-display-right {
				right: 12px;
			}
}
